* {
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

.content {
  position: absolute;
  bottom: 28px;
  right: 0;
  left: 0;
}

.water {
  width: 100%;
  /* background-color: blue; */
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 50%,
      5% 50%,
      10% 50%,
      15% 50%,
      20% 50%,
      25% 50%,
      30% 50%,
      35% 50%,
      40% 50%,
      45% 50%,
      50% 50%,
      55% 50%,
      60% 50%,
      65% 50%,
      70% 50%,
      75% 50%,
      80% 50%,
      85% 50%,
      90% 50%,
      95% 50%,
      100% 50%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 40%,
      5% 60%,
      10% 40%,
      15% 60%,
      20% 40%,
      25% 60%,
      30% 40%,
      35% 60%,
      40% 40%,
      45% 60%,
      50% 40%,
      55% 60%,
      60% 40%,
      65% 60%,
      70% 40%,
      75% 60%,
      80% 40%,
      85% 60%,
      90% 40%,
      95% 60%,
      100% 40%,
      100% 100%,
      0% 100%
    );
  }
}
